body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-box{
  width: 472px;
  height: 765px;
  border: solid 1px;
  text-align: center;
}

td{
  padding: 5px;
}

button, input{
  word-wrap: break-word;
  width: 100px;
}

#input_find_item1{
  height: 45px;
  width: 80px;
  resize: none;
}

#input_find_item2{
  width: 20px;
}

tr:nth-of-type(7)>td:nth-of-type(2){
  display: flex;
  align-items: center;
  justify-content: center;
}
