body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-box{
  width: 472px;
  height: 365px;
  border: solid 1px;
  text-align: center;
}


.desc>span{
  margin-right: 30px;
}

span{
  font-size: 18px;
  margin-right: 10px;
}

input{
  height: 21px;
  width: 80px;
  margin-right: 10px;
}

button{
  height: 27px;
  width: 84px;
  margin-right: 10px;
  font-size: 16px;
}

.splice{
  border-bottom: 1px solid;
  padding: 20px 0 20px 0 ;
  margin: 0 15px 0 15px;
}

.reverse{
  border-bottom: 1px solid;
  padding: 20px 0 20px 0 ;
    margin-left: 25px;
}

.reverse>button{
  width: auto;
}
