* {
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0; }

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0); }
  40% {
    transform: translateY(-20px);
    transform: translateY(-20px); }
  80% {
    transform: translateY(-10px);
    transform: translateY(-10px); } }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1300px;
  margin: auto;
  background-color: #F5F5DC; }

.info {
  display: flex;
  justify-content: space-between;
  background-color: #373434; }
  .info .info__left {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px; }
    .info .info__left .info__left__img_size {
      width: 200px;
      height: 280px;
      margin: 40px 0;
      border-radius: 3%; }
    .info .info__left .info__left__fio-position {
      margin-left: 65px; }
    .info .info__left .info__left__fio-position_size-12 {
      font-size: 20pt;
      margin-bottom: 12px; }
    .info .info__left .info__left__fio-position_size-16 {
      font-size: 28pt;
      margin-bottom: 12px; }
  .info .info__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
    color: white;
    font-size: 16pt; }
    .info .info__right .info__right__city,
    .info .info__right .info__right__email,
    .info .info__right .info__right__phone,
    .info .info__right .info__right__site {
      margin-bottom: 20px; }
    .info .info__right .info__right__phone_top-right,
    .info .info__right .info__right__site_top-right {
      text-align: right;
      margin-top: 8px; }
      .info .info__right .info__right__phone_top-right .info__right__site_top-right_hover,
      .info .info__right .info__right__site_top-right .info__right__site_top-right_hover {
        color: white;
        text-decoration: none;
        transition-duration: .2s;
        transition-delay: 0.1s; }
        .info .info__right .info__right__phone_top-right .info__right__site_top-right_hover:hover,
        .info .info__right .info__right__site_top-right .info__right__site_top-right_hover:hover {
          color: gray; }
    .info .info__right .info__right__phone_green {
      color: #53ab55; }
    .info .info__right .info__right__phone_blue {
      color: #39a0ce; }
    .info .info__right .info__right__phone_purple {
      color: #774f96; }

main {
  height: auto;
  border: 1px solid;
  background-color: white; }
  main .biography-and-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 50px 0 50px; }
    main .biography-and-links .biography-and-links__biography {
      font-size: 14pt;
      margin-bottom: 10px;
      width: 65%; }
      main .biography-and-links .biography-and-links__biography h2 {
        margin-bottom: 15px;
        font-size: 16pt;
        text-transform: uppercase; }
      main .biography-and-links .biography-and-links__biography p {
        line-height: 30px; }
    main .biography-and-links .vertical-line {
      border-right: 2px solid;
      height: 250px; }
    main .biography-and-links .biography-and-links__links {
      font-size: 14pt;
      margin-bottom: 30px; }
      main .biography-and-links .biography-and-links__links p {
        margin-top: 30px; }
        main .biography-and-links .biography-and-links__links p a {
          text-decoration: none;
          color: black;
          font-weight: 600; }
          main .biography-and-links .biography-and-links__links p a img {
            width: 40px;
            height: 40px;
            margin-right: 40px;
            vertical-align: middle; }
          main .biography-and-links .biography-and-links__links p a .biography-and-links__links_color {
            color: #b1b1b0; }
        main .biography-and-links .biography-and-links__links p:hover {
          animation: bounce 1s; }
  main .education-and-exp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    margin: 30px 50px 0 50px; }
    main .education-and-exp .education-and-exp-info {
      font-size: 14pt;
      width: 46%; }
      main .education-and-exp .education-and-exp-info h2 {
        margin-bottom: 15px;
        font-size: 16pt;
        text-transform: uppercase; }
      main .education-and-exp .education-and-exp-info .content-line-dots {
        display: flex;
        flex-direction: row; }
        main .education-and-exp .education-and-exp-info .content-line-dots .education-and-exp-info__line-dots {
          display: flex;
          flex-direction: column;
          margin-top: 10px; }
          main .education-and-exp .education-and-exp-info .content-line-dots .education-and-exp-info__line-dots .education-and-exp-info__dot {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: black; }
          main .education-and-exp .education-and-exp-info .content-line-dots .education-and-exp-info__line-dots .education-and-exp-info_line-height {
            border-left: 2px solid black;
            height: 250px;
            margin-left: 6.5px; }
        main .education-and-exp .education-and-exp-info .content-line-dots .content {
          margin-left: 30px;
          line-height: 35px; }
          main .education-and-exp .education-and-exp-info .content-line-dots .content .education-and-exp-info__head_upper-gray {
            text-transform: uppercase;
            color: #575858;
            font-weight: 600; }
          main .education-and-exp .education-and-exp-info .content-line-dots .content .other-content {
            margin-top: 20px; }
  main .skills-and-interest {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    margin: 30px 50px 0 50px; }
    main .skills-and-interest .skills-and-interest__skills {
      width: 40%;
      font-size: 14pt;
      font-weight: 600; }
      main .skills-and-interest .skills-and-interest__skills h2 {
        margin-bottom: 15px;
        font-size: 16pt;
        text-transform: uppercase; }
      main .skills-and-interest .skills-and-interest__skills .skills-and-interest__skils-point {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
      main .skills-and-interest .skills-and-interest__skills .skills-and-interest__list {
        margin-left: 0;
        list-style: none; }
        main .skills-and-interest .skills-and-interest__skills .skills-and-interest__list li {
          position: relative;
          margin-bottom: 1.3em;
          border: 3px solid black;
          padding: 0.6em;
          border-radius: 4px;
          color: #231F20; }
          main .skills-and-interest .skills-and-interest__skills .skills-and-interest__list li::before {
            position: absolute;
            top: -0.7em;
            padding-left: 0.4em;
            padding-right: 0.4em;
            font-size: 16px;
            font-weight: bold;
            background: white;
            border-radius: 50%;
            content: '*'; }
    main .skills-and-interest .skills-and-interest__interest {
      width: 46%;
      font-size: 14pt;
      text-transform: uppercase; }
      main .skills-and-interest .skills-and-interest__interest h2 {
        margin-bottom: 15px;
        font-size: 16pt;
        text-transform: uppercase; }
      main .skills-and-interest .skills-and-interest__interest .skills-and-interest__interest-list {
        display: flex; }
        main .skills-and-interest .skills-and-interest__interest .skills-and-interest__interest-list .skills-and-interest__interest-list_right {
          margin-left: 120px; }
        main .skills-and-interest .skills-and-interest__interest .skills-and-interest__interest-list .skills-and-interes__item {
          margin-bottom: 20px;
          text-align: center; }
          main .skills-and-interest .skills-and-interest__interest .skills-and-interest__interest-list .skills-and-interes__item img {
            height: 50px;
            width: 50px; }
          main .skills-and-interest .skills-and-interest__interest .skills-and-interest__interest-list .skills-and-interes__item p {
            line-height: 30px; }
            main .skills-and-interest .skills-and-interest__interest .skills-and-interest__interest-list .skills-and-interes__item p span {
              font-weight: bold; }

@media screen and (max-width: 900px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
    margin: auto;
    background-color: #F5F5DC; }
  .info {
    display: flex;
    justify-content: space-between;
    background-color: #373434; }
    .info .info__left {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 15px; }
      .info .info__left .info__left__img_size {
        width: 150px;
        height: 210px;
        margin: 15px 0;
        border-radius: 3%; }
      .info .info__left .info__left__fio-position {
        margin-left: 25px; }
      .info .info__left .info__left__fio-position_size-12 {
        font-size: 14pt;
        margin-bottom: 8px; }
      .info .info__left .info__left__fio-position_size-16 {
        font-size: 20pt;
        margin-bottom: 8px; }
    .info .info__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 15px;
      color: white;
      font-size: 14pt; }
      .info .info__right .info__right__city,
      .info .info__right .info__right__email,
      .info .info__right .info__right__phone,
      .info .info__right .info__right__site {
        margin-bottom: 2px; }
      .info .info__right .info__right__phone_top-right,
      .info .info__right .info__right__site_top-right {
        text-align: right;
        margin-top: 8px; }
        .info .info__right .info__right__phone_top-right .info__right__site_top-right_hover,
        .info .info__right .info__right__site_top-right .info__right__site_top-right_hover {
          color: white;
          text-decoration: none;
          transition-duration: .2s;
          transition-delay: 0.1s; }
          .info .info__right .info__right__phone_top-right .info__right__site_top-right_hover:hover,
          .info .info__right .info__right__site_top-right .info__right__site_top-right_hover:hover {
            color: gray; }
      .info .info__right .info__right__phone_green {
        color: #53ab55; }
      .info .info__right .info__right__phone_blue {
        color: #39a0ce; }
      .info .info__right .info__right__phone_purple {
        color: #774f96; }
  main {
    height: auto;
    border: 1px solid;
    background-color: white; }
    main .biography-and-links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-items: flex-start;
      margin: 10px 15px 0 15px; }
      main .biography-and-links .biography-and-links__biography {
        font-size: 12pt;
        margin-bottom: 10px;
        width: 60%; }
        main .biography-and-links .biography-and-links__biography h2 {
          margin-bottom: 15px;
          font-size: 14pt;
          text-transform: uppercase; }
        main .biography-and-links .biography-and-links__biography p {
          line-height: 25px; }
      main .biography-and-links .vertical-line {
        border-right: 2px solid;
        height: 200px; }
      main .biography-and-links .biography-and-links__links {
        font-size: 12pt;
        margin-bottom: 30px; }
        main .biography-and-links .biography-and-links__links p {
          margin-top: 30px; }
          main .biography-and-links .biography-and-links__links p a {
            text-decoration: none;
            color: black;
            font-weight: 600; }
            main .biography-and-links .biography-and-links__links p a img {
              width: 30px;
              height: 30px;
              margin-right: 20px;
              vertical-align: middle; }
            main .biography-and-links .biography-and-links__links p a .biography-and-links__links_color {
              color: #b1b1b0; }
          main .biography-and-links .biography-and-links__links p:hover {
            animation: bounce 1s; }
    main .education-and-exp {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-items: flex-start;
      margin: 20px 10px 0 10px; }
      main .education-and-exp .education-and-exp-info {
        font-size: 12pt;
        width: 46%; }
        main .education-and-exp .education-and-exp-info h2 {
          margin-bottom: 15px;
          font-size: 14pt;
          text-transform: uppercase; }
        main .education-and-exp .education-and-exp-info .content-line-dots {
          display: flex;
          flex-direction: row; }
          main .education-and-exp .education-and-exp-info .content-line-dots .education-and-exp-info__line-dots {
            display: flex;
            flex-direction: column;
            margin-top: 8px; }
            main .education-and-exp .education-and-exp-info .content-line-dots .education-and-exp-info__line-dots .education-and-exp-info__dot {
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: black; }
            main .education-and-exp .education-and-exp-info .content-line-dots .education-and-exp-info__line-dots .education-and-exp-info_line-height {
              border-left: 2px solid black;
              height: 205px;
              margin-left: 3.5px; }
          main .education-and-exp .education-and-exp-info .content-line-dots .content {
            margin-left: 20px;
            line-height: 25px; }
            main .education-and-exp .education-and-exp-info .content-line-dots .content .education-and-exp-info__head_upper-gray {
              text-transform: uppercase;
              color: #575858;
              font-weight: 600; }
            main .education-and-exp .education-and-exp-info .content-line-dots .content .other-content {
              margin-top: 15px; }
    main .skills-and-interest {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-items: flex-start;
      margin: 20px 10px 0 10px; }
      main .skills-and-interest .skills-and-interest__skills {
        width: 40%;
        font-size: 12pt;
        font-weight: 600; }
        main .skills-and-interest .skills-and-interest__skills h2 {
          margin-bottom: 15px;
          font-size: 14pt;
          text-transform: uppercase; }
        main .skills-and-interest .skills-and-interest__skills .skills-and-interest__skils-point {
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
        main .skills-and-interest .skills-and-interest__skills .skills-and-interest__list {
          margin-left: 0;
          list-style: none; }
          main .skills-and-interest .skills-and-interest__skills .skills-and-interest__list li {
            position: relative;
            margin-bottom: 1.7em;
            border: 3px solid black;
            padding: 0.4em;
            border-radius: 4px;
            color: #231F20; }
            main .skills-and-interest .skills-and-interest__skills .skills-and-interest__list li::before {
              position: absolute;
              top: -0.7em;
              padding-left: 0.3em;
              padding-right: 0.3em;
              font-size: 16px;
              font-weight: bold;
              background: white;
              border-radius: 50%;
              content: '*'; }
      main .skills-and-interest .skills-and-interest__interest {
        width: 50%;
        font-size: 12pt;
        text-transform: uppercase; }
        main .skills-and-interest .skills-and-interest__interest h2 {
          margin-bottom: 15px;
          font-size: 14pt;
          text-transform: uppercase; }
        main .skills-and-interest .skills-and-interest__interest .skills-and-interest__interest-list {
          display: flex; }
          main .skills-and-interest .skills-and-interest__interest .skills-and-interest__interest-list .skills-and-interest__interest-list_right {
            margin-left: 90px; }
          main .skills-and-interest .skills-and-interest__interest .skills-and-interest__interest-list .skills-and-interes__item {
            margin-bottom: 20px;
            text-align: center; }
            main .skills-and-interest .skills-and-interest__interest .skills-and-interest__interest-list .skills-and-interes__item img {
              height: 40px;
              width: 40px; }
            main .skills-and-interest .skills-and-interest__interest .skills-and-interest__interest-list .skills-and-interes__item p {
              line-height: 30px; }
              main .skills-and-interest .skills-and-interest__interest .skills-and-interest__interest-list .skills-and-interes__item p span {
                font-weight: bold; } }
