body{
  text-align: center;
}
input:nth-of-type(3){
  margin-top: 50px;
  font-size: 20pt;
  width: 250px;
}

input:nth-of-type(1n){
  font-size: 20pt;
}

input{
  resize: none;
  width: 150px;
  height: auto;
  text-align: center;
}
